<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>Doubt Clarification System</title>
<style>
* {
  box-sizing: border-box;
}
#myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text], select {
    width: 80%;
    padding: 6px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
</style>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
      <a href="{% url 'index' %}" class="navbar-brand"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="width: 32px; height: 62px; margin-right: 8px;">Doubt Clarification System</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a href="{% url 'index' %}" class="nav-link">Home</a>
          </li>
          <li class="nav-item px-2">
            <a href="{% url 'courses' %}" class="nav-link">Courses</a>
          </li>
          <li class="nav-item px-2">
            <a href="{% url 'trendingquestions' %}" class="nav-link active">Recent questions</a>
          </li>
          <li class="nav-item px-2">
            <a href="{% url 'users' %}" class="nav-link">Users</a>
          </li>
          <li class="nav-item px-2">
            <a href="{% url 'myquestions' %}" class="nav-link">MyQuestions</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown mr-3">
            {% for k in st_objs %}
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-user"></i> Welcome {{ k.student_name }}
            </a>
            {% endfor %}
            <div class="dropdown-menu">
              <a href="{% url 'profile' %}" class="dropdown-item">
                <i class="fas fa-user-circle"></i> Profile
              </a>
              <!--a href="settings.html" class="dropdown-item">
                <i class="fas fa-cog"></i> Settings
              </a-->
            </div>
          </li>
          <li class="nav-item">
            <a href="{% url 'signin' %}" class="nav-link">
              <i class="fas fa-user-times"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!--input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name"-->

  <!-- HEADER -->
  <header id="main-header" class="py-2 bg-success text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            <i class="fas fa-folder"></i> Recent Questions</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- SEARCH -->
  

 <section id="search" class="py-4 mb-4 bg-light">
    <div class="container">
  <form action="" method="POST">
  {% csrf_token %}
      <div class="row">
        <div class="col-md-6 ml-auto">
          <div class="input-group">
    
    <input type="text" class="form-control" name="guess" required value = "search" readonly >
            <!-- <input type="number" class="form-control" name="question_id" placeholder="question id..."> -->
    <input type="text" class="form-control" name="abcd" required placeholder = "type here ....." >
    <!--<input type="text" class="form-control" placeholder="Search Trending Questions..."> -->
            <div class="input-group-append">
              <input type="submit" onclick="clicked()" value="Post">
            </div>
          </div>
        </div>
      </div>
  </form>
  <script type="text/javascript">
    function clicked() {
       if (confirm('Do you want to submit?')) {
           yourformelement.submit();
       } else {
           return false;
       }
    }
</script>

    </div>
  </section>


  <!-- CATEGORIES -->

{% for t in question_objs %}
	
	
		  <section id="categories">
		    <div class="container">
					<form action="" method="POST">
						{% csrf_token %}
		      <div class="row">
			<div class="col">
			  <div class="card">
			    <div class="card-header">
			      <!--<h4>Latest Questions</h4>-->
			    </div>
			    <table class="table table-striped">
						<tbody>
			      <!--thead class="thead-dark"-->
				<tr>
				  <td><input  type="text" class="form-control" name="write" value = "Q) {{t.question_text}}" disabled style="background:#4CAF50; color:white;" ></td> 
          <td><input type="text" class="form-control" value = " {{t.q}}" disabled ></td>
				   <td><input type="text" class="form-control" value = "{{t.pub_date}}" disabled ></td>
				  <!--th>Title</th>
				  <th>Date</th>
				  <th></th-->
				</tr>
			      <!--/thead-->
				
			      {% for j in answer_objs %}


					{% if j.answer_id == t.question_id %}
						<!--<table id="my">
						<tbody>	-->					
						<tr>
						  <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspans)   {{ j.answer }}</td>
								  <td>PostedBy: {{ j.a }}</td>
                  <td> {{ j.aub_date }}</td>

						  
						</tr>
						<!--</tbody>						
						</table>-->
							
					{% endif %}
				 	
				{% endfor %}
					<tr>
					<td>
					
					<div class="input-group">
			    	
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" class="form-control" name="guess" value = "answer" readonly >
				<input type="text" class="form-control" required name="answ" placeholder="Send answer...">
				<!--<input type="text" class="form-control" placeholder="Search Trending Questions..."> -->
			    <div class="input-group-append"> 
			      <input type="submit" onclick="clicked()" value="Send">
			    </div>
			  </div>
				</form>
				</td>
				</tr>
				
				
				
					
		<script type="text/javascript">
		    function clicked() {
		       if (confirm('Do you want to submit?')) {
			   yourformelement.submit();
		       } else {
			   return false;
		       }
		    }
		</script>

				
			      </tbody>
			    </table>
          
				<!--script>
				function myFunction() {
				  var input, filter, table, tr, td;
				  input = document.getElementById("myInput");
				  filter = input.value.toUpperCase();
				
					//var ne=i.question_text;
					//var  he=document.getElementById("hem");
					//var 
					//document.write(he);
				 // document.write(filter);
				  table = document.getElementById("myTable");
				  tr = table.getElementsByTagName("tr");
				
				  for (i = 0; i < tr.length; i++) {
				    td = tr[i].getElementsByTagName("td")[0];
					//document.write(td);
				    if (td) {
				      if (td.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				      } else {
					tr[i].style.display = "none";
				      }
				    }    
				 
				}
				</script-->


			  </div>
			</div>
		      </div>
			</form>
		    </div>
		  </section>
	<br>
  <br>
{% endfor %}

  <!-- FOOTER -->
  <footer id="main-footer" class="bg-dark text-white mt-5 p-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Copyright &copy;
            <span id="year"></span>
            Doubt Clarification System
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>


  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());
  </script>
</body>

</html>
